@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .custom-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }